.App {
  text-align: center;
}

.containerCard {
  background-image: url(../public/assets/fondo3.jpg);
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



